<div class="span4">
	<div class="post-form">
		<%= form_tag(:controller => "post", :action => "create") do %>
			<legend>New Post</legend>
			<label>Post title</label>
			<%= text_field_tag(:title, "", :placeholder => "Title") %>
			<label>Post text</label>
		  	<%= text_area_tag(:bodytext, "", :placeholder => "Body") %>
		  	<br>
		  	<%= submit_tag "Post", :class => 'btn btn-primary btn-large' %>
		<% end %>
	</div>
</div>
<div class="span7 offset1">
	<div class="post-list">
	<legend>Posts list</legend>
	  	<% @posts.each do |p| %>
	  		<div class="post">
	  			<span class="title">
	  				<%= p.title %>
	  			</span>
	  			<span class="fulltext">
	  				<%= p.bodytext %>
	  			</span>
	  			<span class="ip">
	  				<%= p.ip %>
	  			</span>
	  			<span class="ip">
	  				<%= p.created_at %>
	  			</span>
	  		</div>
	  	<% end %>
	 </div>
</div>