<div class="span4">
	<div class="post-form">
		<%= form_tag({:controller => "post", :action => "create"}, { remote: true, :id => "submit-form" } ) do %>
			<legend>New Post</legend>
			<label>Post title <span class="gray tinyt">(max. 30 symbols)</span></label>
			<%= text_field_tag(:title, "", :placeholder => "Title") %>
			<label>Post text <span class="gray tinyt">(max. 500 symbols)</span></label>
		  	<%= text_area_tag(:bodytext, "", :placeholder => "Body") %>
		  	<br>
		  	<%= submit_tag "Post", :class => 'btn btn-primary btn-large submit-button' %>
		<% end %>
	</div>
</div>
<div class="span7 offset1">
	<%= render "postlist" %>
</div>